# make gitignore

# KDevelop
.kdev4/
NickelMenu.kdev4
.kateconfig

# Build artefacts
/KoboRoot.tgz
/src/libnm.so

/src/qtplugin.moc
/src/qtplugin.o

/src/action.o
/src/action_c.o
/src/config.o
/src/dlhook.o
/src/failsafe.o
/src/init.o
/src/kfmon.o

/src/action_cc.o
/src/menu.o
